<div class="ui middle aligned grid">
  <div class="eight wide column">
  <div class="background-image"></div>
  </div>
  <div class="eight wide column">
  <h2>Log In</h2>
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field ui fluid input">
      <%# <%= f.label :email %><br /> 
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-Mail" %>
    </div>
    </br>
    <div class="field ui fluid input">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>
    </br>
    <div class="actions">
      <%= f.submit "Log In", class: "ui green button" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  </div>
</div>
